<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>show it jobs </title>
  </head>
  <body style="background-image:url('https://getwallpapers.com/wallpaper/full/7/d/9/490164.jpg')">

    <div class="container">
      <div class="jumbotron" >

          <div class="" style="text-align-last:end;">
            <a class="btn btn-danger btn-lg" href="/logout/" role="button">Logout</a>
          </div>
          <h1 class="alert alert-info" style="text-align:center;"><b>Show IT JOBS!</b></h1>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Company Name</th>
                <th scope="col">Year of experience</th>
                <th scope="col">Job description</th>
                <th scope="col">Job role </th>
                <th scope="col">Location</th>
                <th scope="col">Package</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for x in data %}
              <tr>
                <th scope="row">{{x.id}}</th>
                <td>{{x.company_name}}</td>
                <td>{{x.year_of_experience}}</td>
                <td>{{x.job_description}}</td>
                <td>{{x.job_role}}</td>
                <td>{{x.location}}</td>
                <td>{{x.package}}</td>
                <td>
                  <a class="btn btn-success btn-sm" href="/update_it/{{x.id}}" role="button">UPDATE</a>
                |  <a class="btn btn-success btn-sm" href="/delete_it/{{x.id}}" role="button">DELETE</a>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

          <center><a class="btn btn-primary btn-lg" href="/add_it/" role="button">Add IT Jobs</a></center>

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
