.container{
  margin-top: 150px;
  text-align: center;
  color: darkgreen;

}

body{
  background-image: url('https://i.pinimg.com/originals/38/41/65/384165cba02247d86400f10610b50397.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
